@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.toggle
{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background:#000 url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}

.toggle.active
{
  background:#000 url(images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

section 
{
    padding: 100px;
    min-height: 100vh;
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
}

.banner .imgSidebar img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .contentBx,
.sidebar
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.Textologo
{
    position: absolute;
    top: 50px;
    left: 200px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;
}

.banner .contentBx h4 
{
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}

.banner .contentBx h4 span
{
    color: #00bcd4;
    font-size: 1.5em;
    font-weight: 700;
}

.banner .contentBx h2
{
    font-size: 3em;
    color: #333;
    line-height: 1em;
}

p
{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}

.btn
{
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

.sidebar
{
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}

.sidebar.active
{
    width: 1320px;
    right: 0;
}

.sidebar ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li
{
    list-style: none;
}

.sidebar ul li a 
{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar ul li a:hover
{
    color: #00bcd4;
}

.sci
{
    position: absolute;
    left: 200px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li
{
    margin-right: 10px;
    list-style: none;
}

.sci li img
{
    transform: scale(0.5);
    opacity: 0.7;
}

.sci li img:hover
{
    transform: scale(1);
    opacity: 1;
}

.titulo
{
    width: 100%;
    text-align: center;
}

.titulo h2
{
    position: relative;
    color: #00bcd4;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.titulo p
{
    max-width: 700px;
    display: inline-block;
}

.titulo h2::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}

.titulo.branco h2,
.titulo.branco p
{
    color: #fff;
}

.titulo.branco h2::before
{
    background: #fff;
}

.Sobre
{
    background: #000;
}

.Sobre .content
{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.Sobre .content .textBx
{
    min-width: 49%;
    width: 49%;
}

.Sobre .content .textBx p 
{
    color: #fff;
}

.Sobre .content .imgBx
{
    margin-left: 40px;
}

.Sobre .content .imgBx img
{
    max-width: 100%;
}

.trabalhos .content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.trabalhos .content .workBx
{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
}

.trabalhos .content .workBx .imgBx,
.trabalhos .content .workBx .textBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trabalhos .content .workBx .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.trabalhos .video  
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.trabalhos .video .petz
{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
}

.trabalhos .video .petz .videoBx,
.trabalhos .video .petz .textBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trabalhos .video .petz .videoBx embed
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.trabalhos .content .workBx .textBx
{
    background: #000;
    opacity: 0;
    transition: 0.5s;
}

.trabalhos .content .workBx:hover .textBx
{
    opacity: 1;
}

.trabalhos .content .workBx:hover .textBx h3
{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

.contato
{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contato .contatoform
{
    position: relative;
    width: 700px;
    margin-top: 20px;
}

.contato .contatoform .row
{
    width: 100%;
    display: flex;
}

.contato .contatoform .row .col150
{
    width: 50%;
    margin: 10px;
}

.contato .contatoform .row .col100
{
    width: 100%;
    margin: 10px;
    text-align: center;
}

.contato .contatoform .row input,
.contato .contatoform .row textarea
{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #111;
    color:#fff;
    font-size: 16px;
    resize: none;
}

.contato .contatoform .row textarea 
{
    height: 150px;
}

.contato .contatoform .row input[type="submit"]
{
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 150px;
}

.copyright
{
    color: #fff;
    background: #111;
    text-align: center;
    padding: 10px;
}

.copyright p
{
  margin: 0;
  font-size: 16px;  
}